@import "src/styles/colors";
.content-button {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 20vh;
  margin: 2%;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.mat-mdc-table .mat-mdc-row.selected {
  background-color: $selected;
}
