<mat-spinner *ngIf="loading$| async;else repair"></mat-spinner>
<ng-template #repair>
 <div>
   <button  mat-raised-button class="content-button" (click)="newRepairClick()">New Repair</button>
 </div>
  <div>
    <table mat-table [dataSource]="repairs$ | async" class="mat-elevation-z8">

      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let repair"> {{ getManufacturer(manufacturers$ | async, repair.manufacturerId) || repair.customManufacturer}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let repair"> {{ getModel(phoneBrandTree$ | async ,repair.manufacturerId, repair.modelId) || repair.customModel}} </td>
      </ng-container>

      <ng-container matColumnDef="malfunction">
        <th mat-header-cell *matHeaderCellDef> Malfunction </th>
        <td mat-cell *matCellDef="let repair"> {{ getMalfunction(malfunctions$ | async, repair.malfunctions)  || repair.customMalfunction}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let repair">
          {{repair.cost}}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let repair">
          {{ getDate(repair.createDate)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> Comments </th>
        <td mat-cell *matCellDef="let repair">
          {{ repair.comments }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let repair">
          {{ repair.status }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>

</ng-template>
