@import "../../../../styles/colors";
@import "../../../../styles/mixins";

@include contentButtons;

:host {
  display: block;
}
.model-cell{
  max-width: 20vw;
}
.cost-cell {
  max-width: 72px;
}
.date-cell {
  max-width: 100px;
}
.status-cell {
  max-width: 123px;
}
.search-control {
  font-size: 2rem;
  min-height: 5vh;
  min-width: 30vw;
  margin-right: 10px;
}

.btn-container {
  display: flex;
}
.main-btn-container {
  margin-right: 1%;
}
.small-btns-container {
  display: flex;
  flex-wrap: wrap;
}

.mat-mdc-table .mat-mdc-row {
  &.selected {
    background-color: $color-selected;
  }
 &.Done, .Done:hover {
    background-color: $color-ready;
  }

 &.InProgress, .InProgress:hover {
    background-color: $color-progress;
  }

  &.WaitingResolution, .WaitingResolution:hover {
    background-color: $color-resolution;
  }
}
.filters-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

