.search-control {
  font-size: 2rem;
  min-height: 5vh;
  min-width: 30vw;
}
.navigation-btn {
  min-height: 50px;
  margin: 10px;
}
.content-button {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 20vh;
  margin: 2%;
}

.active {
  background-color: #081F;
}
.next-step-button {
  background-color: #1FBBBB;
}
.graph-pass-main-container {
  display: flex;
}
.graph-pass-pass-container {
  flex: 3;
}
.graph-pass-controls-container {
  flex: 1;
  min-width: 24vw;
}
.input-field {
  min-width: 60vw;
  min-height: 15vh;
  font-size: 3rem;
}

