@import "../../../../styles/colors";
@import "../../../../styles/mixins";

@include contentButtons;

.manufacturer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-control {
  font-size: 2rem;
  min-height: 5vh;
  min-width: 30vw;
}
.navigation-btn {
  min-height: 50px;
  margin: 10px;
}

.active {
  background-color: $color-ready;
}
.next-step-button {
  background-color: $color-selected;
}
.graph-pass-main-container {
  display: flex;
}
.graph-pass-pass-container {
  flex: 3;
}
.graph-pass-controls-container {
  flex: 1;
  min-width: 24vw;
}
.input-field {
  min-width: 60vw;
  min-height: 15vh;
  font-size: 3rem;
}

